<% layout("/layouts/boilerplate") %>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 justify-content-center">
            <% for(let list of lists) { %>
                <div class="col mb-4 d-flex justify-content-center">
                    <a class="a-lists" href="/listings/view/<%= list._id %>">
                        <div class="card" style="width: 20rem;">
                            <img src="<%= list.image.url %>" class="card-img-top" alt="Image" style="height: 20rem;">
                            <div class="card-body ">
                                <h5 class="card-title"><%= list.title %></h5>
                                <p>&#8377;<%= list.price.toLocaleString("en-In") %> / night</p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</body>
